<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backend</key>
	<string>QEMU</string>
	<key>ConfigurationVersion</key>
	<integer>4</integer>
	<key>Display</key>
	<array>
		<dict>
			<key>DownscalingFilter</key>
			<string>Linear</string>
			<key>DynamicResolution</key>
			<true/>
			<key>Hardware</key>
			<string>virtio-vga</string>
			<key>NativeResolution</key>
			<false/>
			<key>UpscalingFilter</key>
			<string>Nearest</string>
		</dict>
	</array>
	<key>Drive</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>7A205435-F133-4126-A216-9AF9E6392EEE</string>
			<key>ImageName</key>
			<string>OVMF.bin</string>
			<key>ImageType</key>
			<string>BIOS</string>
			<key>Interface</key>
			<string>None</string>
			<key>ReadOnly</key>
			<false/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>5DB0136A-B3A9-4148-A677-ABD85512A495</string>
			<key>ImageName</key>
			<string>OpenCore-v20.qcow2</string>
			<key>ImageType</key>
			<string>Disk</string>
			<key>Interface</key>
			<string>IDE</string>
			<key>ReadOnly</key>
			<false/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>187E1EE1-8429-4D25-84A9-E16D3B00578A</string>
			<key>ImageName</key>
			<string>BaseSystem.qcow2</string>
			<key>ImageType</key>
			<string>Disk</string>
			<key>Interface</key>
			<string>IDE</string>
			<key>ReadOnly</key>
			<false/>
		</dict>
	</array>
	<key>Information</key>
	<dict>
		<key>IconCustom</key>
		<false/>
		<key>Name</key>
		<string>Virtual Machine</string>
		<key>UUID</key>
		<string>9C2E76ED-9E7D-4B9E-B721-39E759374CC5</string>
	</dict>
	<key>Input</key>
	<dict>
		<key>MaximumUsbShare</key>
		<integer>0</integer>
		<key>UsbBusSupport</key>
		<string>3.0</string>
		<key>UsbSharing</key>
		<false/>
	</dict>
	<key>Network</key>
	<array>
		<dict>
			<key>Hardware</key>
			<string>vmxnet3</string>
			<key>IsolateFromHost</key>
			<false/>
			<key>MacAddress</key>
			<string>82:D4:C1:F3:3D:31</string>
			<key>Mode</key>
			<string>Bridged</string>
			<key>PortForward</key>
			<array/>
		</dict>
	</array>
	<key>QEMU</key>
	<dict>
		<key>AdditionalArguments</key>
		<array>
			<string>-device isa-applesmc,osk="ourhardworkbythesewordsguardedpleasedontsteal(c)AppleComputerInc" -smbios type=2</string>
			<string>-usb -device usb-kbd -device usb-tablet -global nec-usb-xhci.msi=off</string>
			<string>-s -S</string>
		</array>
		<key>BalloonDevice</key>
		<false/>
		<key>DebugLog</key>
		<true/>
		<key>Hypervisor</key>
		<false/>
		<key>PS2Controller</key>
		<true/>
		<key>RNGDevice</key>
		<true/>
		<key>RTCLocalTime</key>
		<true/>
		<key>TPMDevice</key>
		<false/>
		<key>UEFIBoot</key>
		<true/>
	</dict>
	<key>Serial</key>
	<array/>
	<key>Sharing</key>
	<dict>
		<key>ClipboardSharing</key>
		<false/>
		<key>DirectoryShareMode</key>
		<string>None</string>
		<key>DirectoryShareReadOnly</key>
		<false/>
	</dict>
	<key>Sound</key>
	<array/>
	<key>System</key>
	<dict>
		<key>Architecture</key>
		<string>x86_64</string>
		<key>CPU</key>
		<string>IvyBridge-IBRS</string>
		<key>CPUCount</key>
		<integer>8</integer>
		<key>CPUFlagsAdd</key>
		<array/>
		<key>CPUFlagsRemove</key>
		<array/>
		<key>ForceMulticore</key>
		<true/>
		<key>JITCacheSize</key>
		<integer>0</integer>
		<key>MemorySize</key>
		<integer>4096</integer>
		<key>Target</key>
		<string>q35</string>
	</dict>
</dict>
</plist>
